/* 
Text accent: #3C394B

Dark Grey accent (buttons): #3F4247

Beige primary: #F1E9E3
Beige secondary: #FAF7F2

Teal primary: #C4DAE1
Teal secondary: #F5F9FA

Red accent:#EA5E3B
*/

.Auth {
    width: 40vw;
    margin-top: 15vh;
    /* text-align: center; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    align-items: center
}

h1 {
    color: #3C394B;
    font-weight: 400;
}

p {
    margin: 10px
}

a {
    margin: 0 0 10px 0;
    text-decoration: none;
    color: rgb(60, 180, 255)
}

a:hover {
    color: rgb(0, 111, 180)
}

.credentials {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.credentials > input {
    border-radius: 8px;
    border: 1px solid grey;
}

.auth-form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.button {
    margin: 20px;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: none;
    background-color: #3F4247;
    color: #FFFFFF;
    cursor: pointer;
}

.error {
    margin: 0;
    color: rgb(255, 70, 70);
    font-size: 0.85em;
    font-weight: 100;
}

/* -------------------------------------- ZOOM IN ANIMATION ------------------------------------- */
@keyframes easeIn {
    0% { 
        transform: scale(0.95);
        opacity: 0
    }
    100% { 
        transform: scale(1.0);
        opacity: 1
     }
  }
  
  .easeIn {
    animation-name: easeIn;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1)
  }