* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.App {
  /* text-align: center; */
}

.user-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}