/* 
Text accent: #3C394B

Dark Grey accent (buttons): #3F4247

Beige primary: #F1E9E3
Beige secondary: #FAF7F2

Teal primary: #C4DAE1
Teal secondary: #F5F9FA

Red accent:#EA5E3B
*/

.Homepage {
    display: flex;
    height: 100vh;
}

.home-intro {
    width: 60vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F1E9E3;
    box-shadow: 0.3px 0px 8px 0.5px rgb(160, 160, 160)
}

.logo {
    margin:  80px 30px 30px 30px;
    font-family: 'Yellowtail', cursive;
    font-size: 5em;
    color: #3C394B
}

.home-intro-text {
    width: 70%;
    text-align: center;
}

.brioche {
    margin: 30px;
    padding: 20px;
    width: 35%
}