.Homepage {
    display: flex;
}

.home-intro {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

.home-intro-text {
    width: 600px
}